<div class="project-body">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap.xs="0">
        <div fxFlex="30" fxFlex.xs="100" *ngFor="let projectItem of projectItems">
            <project-item cardIcon="{{projectItem.cardIcon}}" cardTitle="{{projectItem.cardTitle}}" cardSubTitle="{{projectItem.cardSubTitle}}" cardContent="{{projectItem.cardContent}}" cardImg="{{projectItem.cardImg}}" cardImgAlt="{{projectItem.cardImgAlt}}" cardRouterLink="{{projectItem.cardRouterLink}}">
            </project-item>
        </div>
    </div>
</div>