@import '~@angular/material/theming';
@include mat-core();
// Define the default theme (same as the example above).
$light-primary: mat-palette($mat-teal);
$light-accent: mat-palette($mat-orange, A200, A100, A400);
$light-theme: mat-light-theme($light-primary, $light-accent);
// Include the default theme styles.
@include angular-material-theme($light-theme);
// Define an alternate dark theme.
$dark-primary: mat-palette($mat-deep-purple);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
.dark-theme {
    @include angular-material-theme($dark-theme);
}

body {
    height: 99vh;
    width: 100%;
    margin: 0;
}