.heading {
    font-size: 1.2em; 
    font-weight: bold; 
    font-family: cabin;
}

.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dronesLink{
    margin-top:5%; 
    background-image: url('/assets/images/drones.png'); 
    height:39vh;
    color:white;
    cursor: pointer;
}
.dronesLink:hover {
    box-shadow: 0 0 5px black;
}

.nasaLink{
    margin-top:5%; 
    background-image: url('/assets/images/space.jpg'); 
    height:39vh;
    color:white;
    cursor: pointer;
}
.nasaLink:hover {
    box-shadow: 0 0 5px black;
}

.mat-tab-body {
    height: 70vh !important;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    outline: none;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    outline: none;
    right: 0;
}