<link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

    <mat-toolbar color="primary" style="height: 100vh;" fxFlex="15">
        <mat-toolbar-row>
            <span class="heading">Kyler Love</span>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <mat-slide-toggle (change)="darkmode()" [checked]="factory.isDarkMode"></mat-slide-toggle>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-card style="height: 100vh;" fxFlex="85">
        <mat-tab-group dynamicHeight='true'>
            <mat-tab label="About Me">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <app-draw></app-draw>
                </div>
            </mat-tab>
            <mat-tab label="Projects">
                <app-project-list></app-project-list>
            </mat-tab>
            <mat-tab label="Contact">
                <div style="margin:5%;">
                    <h4>Kyler.Love@gmail.com</h4>
                    <h5>Philadelphia, PA</h5>
                    <div class="button-row">
                        <button mat-fab color="primary" (click)="routeTo('facebook')">
                        <span class="fa fa-2x fa-facebook"></span>
                    </button>
                        <button mat-fab color="accent" (click)="routeTo('github')">
                        <span class="fa fa-2x fa-github"></span>
                    </button>
                        <button mat-fab color="primary" (click)="routeTo('linkedin')">
                        <span class="fa fa-2x fa-linkedin"></span>
                    </button>
                        <button mat-fab color="accent" (click)="routeTo('insta')">
                        <span class="fa fa-2x fa-instagram"></span>
                    </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>